# Build outputs
/target/
**/target/
bin/
build/
out/

# IDE/OS
.project
.classpath
.settings/
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.tmp

# Maven wrapper binary
.mvn/wrapper/maven-wrapper.jar

# Local configs
*config-local.properties
**/*-local.properties
.connect/
